@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;600;700&display=swap');


/* Custom scrollbar hide (Optional) */
body {
  background-color: #050505;
  color: white;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.my-guru-font {
    font-family: 'Gemunu Libre', sans-serif !important;
    font-size: 19px;
    letter-spacing: 0.5px;
}